//
//	Footer
//-------------------------------------------------------

.site-footer {
	padding: 3em 0;
	width: 100%;
	color: #fff;
	background: $background-color-2 url('../img/global/backgrounds/footer-bkg.png') center no-repeat;

	@include breakpoint($medium) {
		padding: 4.5em;
	}

	@include breakpoint($large) {
		padding: 7em 0;
	}

	.wrap {
		@include clearfix;
	}
	
	a {
		color: #fff;
	}
	
	a.fa-stack {
		color: $icon-color;
	}

	.fa-inverse {
		color: #fff;
	}
}

.footer-col {
	padding: 2em 0;
}

.footer-col-1 {

	@include breakpoint($medium) {
		@include grid(380, 760);
		float: left;
	}

	@include breakpoint($large) {
		@include grid(240, 960);
	}

	@include breakpoint($xl) {
		@include grid(330, 1200);
	}
}

.footer-col-2 {

	@include breakpoint($medium) {
		@include grid(380, 760);
		float: left;
		padding-left: 2em;
		border-left: 2px solid $border-color-3;
	}

	@include breakpoint($large) {
		@include grid(240, 960);
	}

	@include breakpoint($xl) {
		@include grid(377, 1200);
		padding-left: 4em;
	}
}

.footer-col-3 {

	@include breakpoint($medium) {
		clear: both;
	}

	@include breakpoint($large) {
		@include grid(480, 960);
		float: left;
		clear: none;
	}

	@include breakpoint($xl) {
		@include grid(493, 1200);
	}
}


.primary-footer {
	@include clearfix;
}

.footer-nav {
	@include clearfix;
	margin: 2em 0;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		display: inline-block;
		vertical-align: baseline;
		margin: 0 0 .75em 0;
		line-height: 1;

		+ li {
			margin-left: 1em;
			padding-left: 1em;
			border-left: 2px solid $border-color-3;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.sub-menu {
		display: none;
	}
}

.footer-branding {
	text-align: center;

	@include breakpoint($medium) {
		text-align: left;
	}
}

.footer-nav {
	text-align: center;
	margin-bottom: 2em;

	@include breakpoint($medium) {
		text-align: right;
	}
}

.address {
	text-align: center;

	@include breakpoint($medium) {
		text-align: right;
	}

	@include breakpoint($large) {
		text-align: left;
	}
}

.social-media {
	text-align: center;

	@include breakpoint($medium) {
		text-align: right;
	}
}

//
//	Copyright/Imagebox Credits
//-------------------------------------------------------
.site-info {
	@include clearfix;
	margin-top: 2em;
	text-align: center;

	@include breakpoint($medium) {
		text-align: right;
		margin-top: 4em;
	}

	@include breakpoint($large) {
		margin-top: 7em;
	}

	.copyright,
	.imagebox {
		@include breakpoint($medium) {
			text-align: right;
		}

		p {
			margin: 0;

			+ p {
				margin-top: 0.5em;
			}
		}
	}

	.imagebox {
		margin-top: .15em;

		@include breakpoint($medium) {
			text-align: right;
		}
	}
}
