//
//	Header
//-------------------------------------------------------

.site-header {
	text-align: center;
	background: $primary-color;
	z-index: 50;
	transition: all 0.25s;

	.flexbox & {
		.header-top-wrap {
			@include breakpoint($medium) {
				display: flex;
				align-items: center;
			}
		}
	}

	@include breakpoint($medium) {
		height: auto;
		text-align: left;
		position: fixed;
		width: 100%;
		z-index: 100;
	}

	// .site-title {
	// 	margin-top: 50px;
	// 	padding: 4em 0;
	// 	transition: transform 250ms;
	
	// 	@include breakpoint($medium) {
	// 		padding: 0;
	// 		margin-top: 0;
	// 	}

	// 	a {
	// 		position: relative;
	// 		margin: 0 auto;
	// 		opacity: 1;
	// 		transition: all 0.25s;
			
	// 		&:hover,
	// 		&:focus {
	// 			opacity: 0.8;
	// 		}

	// 		@include breakpoint($medium) {
	// 			margin: 0;
	// 			top: 2.5em;
	// 			background-size: 70%;
	// 		}
			
	// 		@include breakpoint($large) {
	// 			background-size: auto;
	// 		}
	// 	}


	// }


	.site-branding {
		margin-top: 50px;
		padding: 4em 0;
	
		@include breakpoint($medium) {
			@include grid(200, 1200);
			float: left;
			padding: 0;
			margin-top: 0;
		}

		a {
			display: block;
			vertical-align: top;
			// padding: 2em 0;
			transition: opacity 250ms;

			&:hover,
			&:focus {
				opacity: .85;
			}

			.flexbox & {
				padding: 0;
			}
		}

		.site-logo-svg {
			width: 21em;
			height: 9em;
			max-width: 100%;
			transition: transform 250ms;

			@include breakpoint($medium) {
				width: 100%;
				height: 12em;
			}
		}
	}

	.top-nav {
		@include breakpoint($medium) {
			@include grid(1000, 1200);
			float: right;
			padding: 5.2em 0;
			transition: all 0.25s;
		}
	}
	
	&.minify-header {
		
		@include breakpoint($medium) {
			background: $primary-color-opaque;
			box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.12);
		
			.site-branding {
				.site-logo-svg {
					transform: scale(.65);
			    height: 9em;
				}
			}
		}

		.top-nav {
			@include breakpoint($medium) {
				padding: 2em 0;
			}
		}
	}
} //.site-header
