//
//	Sidebar
//-------------------------------------------------------

.sidebar {
	margin-top: 3em;

	@include breakpoint($medium) {
		margin-top: 0;
	}
}

//
//	Sidebar Nav
//-------------------------------------------------------

.sidebar-nav {
	margin-bottom: 2em;
	padding: 1em 2em;
	border-radius: $border-radius;
	background: $background-color-1;

	.nav--cats {
		li {
			// margin-bottom: 0;
		}
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li,
	a {
		display: block;
		margin: 0;
	}

	li {
		
		&:before {
			display: none;
		}

		+ li {
			border-top: 2px solid $border-color-1;
		}
	}

	a {
		@include font-size(16);
		padding: 1em 0;
		color: #fff;
		line-height: 1.2;
		font-weight: 700;
		text-decoration: none;
		transition: opacity 0.25s;

		&:hover,
		&:focus {
			background: transparent;
			opacity: .7;
		}
	}

	.children {
		display: none;
		padding: 0.5em 0;
		padding-left: 1em;
		border-top: 2px solid $border-color-1;

		li {
			border: 0 none;
		}

		a {
			padding: 0.5em 0;
		}

		.current_page_item a {
			opacity: .7;
		}
	}

	.current_page_parent .children,
	.current_page_item .children {
		display: block;
	}

	> ul > li.current_page_item > a {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -2px;
    margin-top: -2px;
    padding-left: 20px;
    background: #4a929a;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}


/**
 * Blog
 * ----
 */


.cat-nav {
	border-radius: $border-radius;
	background: $background-color-1;
}



//
//	Widgets
//-------------------------------------------------------

.widget {
	margin-bottom: 3em;

	li {
		// margin-bottom: 1em;
	}
}


/**
 * Callouts
 */

.sidebar-callout {
	margin-top: 2em;
	border-radius: $border-radius;

	hr {
		margin: 2em 0;
	}

	.button {
		display: block;
		margin-top: 1em;
	}

	.grants-list {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			line-height: 1.4;

			+ li {
				margin-top: 1em;
			}
		}

		h4 {
			margin: 0;
			text-transform: uppercase;
		}
	}

	&.color-option-4 {
		h3 {
			color: $base-font-color;
			text-transform: none;
		}
	}

	&.callout--letter {
		h3 {
			font-weight: 400;
		}

		svg {
			float: right;
		}
	}
}



.sidebar-callout-container {
	padding: 2em;
}
