@media print{
  html{
    font-family:sans-serif; }
  .banner span{
    font-size:20pt;
    font-weight:bold; }
  .site-header{
    margin-bottom:0.25in;
    padding-bottom:0.25in;
    border-bottom:1px solid #eee; }
    .site-header .site-logo-svg{
      width:180px;
      height:auto; }
  .site-footer{
    margin-top:0.25in;
    padding-top:0.25in;
    border-top:1px solid #eee; }
    .site-footer .footer-branding img{
      display:none;
      width:180px;
      height:auto; }
  *,
  *:before,
  *:after{
    background:transparent !important;
    color:#000 !important;
    -webkit-box-shadow:none !important;
            box-shadow:none !important;
    text-shadow:none !important; }
  a,
  a:visited{
    text-decoration:underline; }
  .entry-content a[href]:after,
  .column-content a[href]:after{
    content:" (" attr(href) ")"; }
  .entry-content abbr[title]:after,
  .column-content abbr[title]:after{
    content:" (" attr(title) ")"; }
  .branding a[href]:after{
    content:""; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after{
    content:""; }
  pre,
  blockquote{
    border:1px solid #999;
    page-break-inside:avoid;
    padding:0.15in; }
  .mobile-head,
  .mobile-nav,
  .main-nav,
  .top-nav,
  .mobile-contact,
  .skip-link,
  .sidebar-nav,
  .footer-nav,
  .callout--slider{
    display:none; }
  .site-content{
    margin-top:0 !important; }
  .banner{
    display:block; }
    .banner img{
      display:none; }
    .banner .title{
      height:auto !important; }
  .color-option-5,
  .color-option-3,
  .color-option-2{
    color:#000 !important;
    background:transparent;
    background-image:none; }
    .color-option-5 li,
    .color-option-5 p,
    .color-option-5 h1,
    .color-option-5 h2,
    .color-option-5 h3,
    .color-option-5 h4,
    .color-option-5 h5,
    .color-option-5 h6,
    .color-option-5 cite,
    .color-option-3 li,
    .color-option-3 p,
    .color-option-3 h1,
    .color-option-3 h2,
    .color-option-3 h3,
    .color-option-3 h4,
    .color-option-3 h5,
    .color-option-3 h6,
    .color-option-3 cite,
    .color-option-2 li,
    .color-option-2 p,
    .color-option-2 h1,
    .color-option-2 h2,
    .color-option-2 h3,
    .color-option-2 h4,
    .color-option-2 h5,
    .color-option-2 h6,
    .color-option-2 cite{
      color:#000 !important; }
    .color-option-5 a,
    .color-option-3 a,
    .color-option-2 a{
      color:#000;
      text-decoration:underline; }
    .color-option-5 .button,
    .color-option-3 .button,
    .color-option-2 .button{
      color:#000;
      text-decoration:none; }
  thead{
    display:table-header-group; }
  tr,
  img{
    page-break-inside:avoid; }
  img{
    max-width:100% !important; }
  p,
  h2,
  h3{
    orphans:3;
    widows:3; }
  h2,
  h3{
    page-break-after:avoid; } }
