/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    html {
        font-family: sans-serif;
    }

    .banner span {
        font-size: 20pt;
        font-weight: bold;
    }

    .site-header {
        margin-bottom: 0.25in;
        padding-bottom: 0.25in;
        border-bottom: 1px solid #eee;

        .site-logo-svg {
            width: 180px;
            height: auto;
        }
    }

    .site-footer {
        margin-top: 0.25in;
        padding-top: 0.25in;
        border-top: 1px solid #eee;

        .footer-branding img {
            display: none;
            width: 180px;
            height: auto;
        }
    }

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    .entry-content,
    .column-content {
        a[href]:after {
            content: " (" attr(href) ")";
        }
        
        abbr[title]:after {
            content: " (" attr(title) ")";
        }
    }



    .branding a[href]:after {
        content:"";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
        padding: 0.15in;
    }

    
    /**
     * Blocks
     */
    
    // Hide
    .mobile-head,
    .mobile-nav,
    .main-nav,
    .top-nav,
    .mobile-contact,
    .skip-link,
    .sidebar-nav,
    .footer-nav,
    .callout--slider {
        display: none;
    }

    .site-content {
        margin-top: 0 !important;
    }

    .banner {
        display: block;

        // *  {
        //     margin-top: 0 !important;
        // }

        img {
            display: none;
        }

        .title {
            height: auto !important;
        }
    }
    

    // un-reverse blocks

    .color-option-5,
    .color-option-3,
    .color-option-2 {
        color: #000 !important;
        background: transparent;
        background-image: none;

        li,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        cite {
            color: #000 !important;
        }

        a {
            color: #000;
            text-decoration: underline;
        }

        .button {
            color: #000;
            text-decoration: none;
        }
    }


    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}