
.blog-page {
	@extend .section;

	.entry-content {
		@include breakpoint($medium) {
			@include grid(860,1200);
			float: left;
		}
	}//.entry-content

	.sidebar {
		@include breakpoint($medium) {
			@include grid(260,1200);
			float: right;
		}
	}
	
	article {

		+ article {
			margin-top: 2em;
			padding-top: 2em;
			border-top: 2px solid $border-color-3;

			@include breakpoint($medium) {
				margin-top: 4em;
				padding-top: 4em;
				border-top: 2px solid $border-color-3;
			}
		}
	}

	.entry-footer {
		.comments-link,
		.edit-link {
			border: 1px solid darken($button-color, 5%);
			border-radius: $border-radius;
			color: $primary-color;
			background: $button-color;
			transition: background 500ms;

			&:hover,
			&:focus {
				background: $button-color--hover;
			}

			a {
				color: $primary-color;
			}
		}

	}

	.nav-links {
		a {
			color: $link-color;
		}
	}

}//.blog-page



/**
 * Post Preview
 */

.post-preview {
	
	h2 {
		a {
			text-decoration: underline;
		}
	}
}

.post-date {
	@include font-size(14);
	margin-bottom: .25em;
	text-transform: uppercase;

	@include breakpoint($medium) {
		@include font-size(16);
	}

	@include breakpoint($large) {
		@include font-size(17);
	}

	.cat-links {
		text-transform: none;

		a {
			color: $heading-color-1;

			&:hover,
			&:focus {
				color: darken($heading-color-1, 15%);
			}
		}
	}
}