
.site-main.homepage {
	
	.hero {
		@include clearfix;
		background: #f4f1e8;

		img {
			margin: 0 auto;
		}

		h1,
		h6 {
			color: $base-font-color;
		}

		h1 {
			margin-bottom: .5em;
			padding-bottom: 0;

			&:after {
				display: none;
			}

			@include breakpoint($medium) {
				font-size: 28px;
			}

			@include breakpoint($large) {
		    font-size: 36px;
			}
		}

		h6 {
			@include breakpoint($medium) {
		    font-size: 18px;
			}

			@include breakpoint($large) {
		    font-size: 24px;
			}
		}

		.wrap {
			@include clearfix;
			max-width: 1600px;

			.flexbox & {
				@include breakpoint($medium) {
					display: flex;
					
					.hero__body {
						display: flex;
						align-items: center;
					}
				}
			}
		}

		.hero-image__left {
			margin-left: -15%;
			margin-right: -15%;

			@include breakpoint($medium) {
		    float: left;
		    margin: 0;
				width: 50%;
			}

			@include breakpoint($mega) {
		    width: 740px;
			}

		}

		.hero-image__right {
			display: none;

			@include breakpoint($mega) {
				display: block;
				float: left;
				width: 244px;
			}
		}

		.hero__body {
			padding: 4em 0;
			background: transparent url('../img/global/backgrounds/hero-copy-bkg.png') right bottom no-repeat;

			@include breakpoint($medium) {
		    float: left;
				padding: 2em;
				width: 50%;
			}

			@include breakpoint($large) {
				padding: 4em;
			}

			@include breakpoint($mega) {
				width: 616px;
			}
		}
	}

	.blog-posts {
		background: darken($primary-color, 5%);

		a {
			color: $link-color;
		}
	}

}//.simple


.home-callout {
	padding: $vertical-padding-medium;

	@include breakpoint($large) {
		padding: $vertical-padding-large;
	}

	@include breakpoint($xl) {
		padding: $vertical-padding-xl;
	}

	&.callout--split {
		padding: $vertical-padding-large;
	}

	h1,
	.h1 {
		@include font-size(30);
		margin-bottom: .5em;
		padding-bottom: 0;
		color: inherit;
		line-height: 120%;

		@include breakpoint($medium) {
			@include font-size(36);
		}

		&:after {
			display: none;
		}
	}

	h6,
	cite {
		@include font-size(15);
		margin-bottom: 1em;
		line-height: 130%;

		@include breakpoint($medium) {
			@include font-size(20);
		}

		@include breakpoint($large) {
			@include font-size(24);
		}
	}
}

.home-callout-header {
	margin-bottom: 3.5em;
	text-align: center;
}


/**
 * Figure Callout
 */

.home-callout--1 {
	padding: 0;

	.callout-body {
		padding: $vertical-padding-medium;

		@include breakpoint($large) {
			padding: $vertical-padding-large;
		}

		@include breakpoint($xl) {
			padding: $vertical-padding-xl;
		}

		@include breakpoint($medium) {
			float: left;
			width: 45%;
		}
	}

	.callout-figure {
		@include breakpoint($medium) {
			float: left;
			width: 55%;
		}
	}

	.flexbox & {
		@include breakpoint($medium) {

			.wrap {
				display: flex;
				align-items: center;
			}
		}
	}
}


/**
 * Quote Callout
 */

.home-callout--2 {
	background-image: url('../img/global/backgrounds/quote-bkg.png');
	background-position: left bottom;
	background-repeat: no-repeat;

	.callout-body {
		text-align: center;

		@include breakpoint($medium) {
			width: 75%;
			margin: 0 auto;
		}
	}
}


/**
 * Slider Callout
 */

.callout--slider {
	text-align: center;

	@include breakpoint($large) {
		padding: 7em 0;
	}
}

.circular-image {
	position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
	overflow: hidden;
	width: 100%;
	max-width: 223px;
	z-index: 2;

	img {
		transform-style: initial !important;
	}
}

.circular-bkg {
	position: relative;
	padding: 2em;

	.circular-bkg--img {
		position: absolute;
		left: 1em;
		top: 1em;
		width: 93% !important;
		z-index: 1;
	}
}

.callout-disc {

	a {
		display: block;
		transition: opacity 500ms;

		&:hover,
		&:focus {
			opacity: .85;
			text-decoration: none;
		}
	}

	h5 {
		margin: 0;
		margin-top: .5em;
		line-height: 1.2;
	}
}

.owl-item {

	&:nth-of-type(4n+1) {
		.circular-bkg--img {
		}
	}

	&:nth-of-type(4n+2) {
		.circular-bkg--img {
			top: .5em;
			left: 1em;
			transform: rotate(180deg);
		}
	}

	&:nth-of-type(4n+3) {
		.circular-bkg--img {
			top: 1em;
			left: .5em;
			transform: rotate(90deg);
		}
	}

	&:nth-of-type(4n+4) {
		.circular-bkg--img {
			top: .5em;
			left: 1em;
			transform: rotate(45deg);
		}
	}
}


/**
 * Button Callout
 */

.home-callout--buttons {
	
	@include breakpoint($medium) {
		padding: 4em 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		@include breakpoint($medium) {
			margin-left: -24px;
		}
	}

	li {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		width: 100%;

		+ li {
			margin-top: 2em;
		}

		@include breakpoint($medium) {
			margin-right: -5px;
			padding-left: 24px;
			width: 33.33%;

			+ li {
				margin-top: 0;
			}
		}
	}

	.button {
		@include font-size(18);
		width: 100%;

		@include breakpoint($large) {
			@include font-size(24);
		}
	}
}


/**
 * Split Callout
 */

.callout--split {
	position: relative;

	// &:after {
	// 	@include breakpoint($medium) {
	// 		position: absolute;
	// 		left: 50%;
	// 		top: 0;
	// 		width: 50%;
	// 		height: 100%;
	// 		background: #f4f1e8;
	// 		content: '';
	// 		z-index: 1;
	// 	}
	// }

	.wrap {
		@include clearfix;
		position: relative;
		z-index: 2;
	}

	.split-1,
	.split-2 {
		padding: 1.25em 0;

		// @include breakpoint($large) {
		// 	padding: $vertical-padding-large;
		// }
	}

	.split-1 {
		@include breakpoint($medium) {
			float: left;
			width: 50%;
			padding-right: 2em;
		}

		@include breakpoint($large) {
			padding-right: 4em;
		}
	}

	.split-2 {
		@include breakpoint($medium) {
			float: left;
			width: 50%;
			padding-left: 2em;
			border-left: 1px solid #c5bb8d;
		}

		@include breakpoint($large) {
			padding-left: 4em;
		}
	}
}

.callout--applications {

	h3 {
		color: $base-font-color;
	}

	h4 {
		text-transform: uppercase;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin: 0;

		+ li {
			margin-top: 1em;
		}
	}
}

.callout--news {
	
	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin: 0;

		+ li {
			margin-top: 2em;
			padding-top: 2em;
			border-top: 2px solid #c7ba8d;
		}
	}
}


/**
 * Featured Post Cards
 */

.home-featured-news-block {
	background-color: $background-color-4;
}

.home-featured-post {
	display: block;
	border-radius: 6px;
	color: #fff;
	text-decoration: none;
	background-color: #66ae7e;
	overflow: hidden;
	transition: background-color 500ms;

	&:hover,
	&:focus {
		text-decoration: none;
		background-color: #4B8961;
	}
}

.featured-post-header {
	position: relative;
	width: 100%;
	padding-top: 66.66%;
	overflow: hidden;

	img {
		@include block-fit-cover(214px);
		display: block;
	}
}

.home-featured-post--1,
.home-featured-post--2 {
	.featured-post-header {
		padding-top: 0;
	}
}

.featured-post-body {
	padding: 1.25em;
	width: 100%;

	h3,
	p {
		color: #fff;
		line-height: 1.2;
	}

	h3 {
		font-size: 18px;
		font-weight: 700;
	}

	p {
		margin: 0;
		line-height: 1.4;

		+ p {
			margin-top: 0.5em;
		}
	}
}

.home-featured-post--1,
.home-featured-post--2 {
  @include breakpoint($large) {
    @supports ( display: flex ) {
      display: flex;
      flex-wrap: wrap;
    }
  }

	.featured-post-header {
	  @include breakpoint($large) {
	    @supports ( display: flex ) {
	    	height: auto;
	    }
	  }
	}

	.featured-post-body {
	  @include breakpoint($large) {
	    @supports ( display: flex ) {
	    	display: flex;
	    	align-items: center;
	    	min-height: 210px;
	    }
	  }

	  > * {
		  @include breakpoint($large) {
		    @supports ( display: flex ) {
		    	width: 100%;
		    }
		  }
	  }
	}
}

.home-featured-post--1 {
	.featured-post-header {
	  @include breakpoint($large) {
	    @supports ( display: flex ) {
	    	width: 413px;
	    }
	  }
	}

	.featured-post-body {
	  @include breakpoint($large) {
	    @supports ( display: flex ) {
				padding: 1.25em 2.5em;
	    	flex: 1 0 0;
	    }
	  }
	}
}

.home-featured-post--2 {
	.featured-post-header,
	.featured-post-body {
	  @include breakpoint($large) {
	    @supports ( display: flex ) {
	    	width: 50%;
	    }
	  }
	}

	// .featured-post-header {
	//   @include breakpoint($large) {
	//     @supports ( display: flex ) {
	//     	height: auto;
	//     }
	//   }
	// }
}

.home-featured-post--3 {
	
}

.home-featured-post--4 {
	
}
