// Box-sizing 
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


// Hide text meant only for screen readers
.vh,
.screen-reader-text {
	@include visuallyhidden;
}


// Style for message that displays for visitors using IE7 and below
.browsehappy {
	padding: 1.25em 0;
	text-align: center;
	color: #fff;
	background: #96292E;
	@include font-size(16);
	line-height: 130%;
	font-family: Helvetica, Arial, Sans-serif;
	a {
		color: #fff;
	}
}