.banner {
	@include clearfix;
	background: $background-color-3;
	overflow: hidden;
	display: table;
	width: 100%;
	padding: 2em 0;

	.banner-container {
		margin: 0 auto;
		max-width: $mega;
	}


	&.split {
		@include breakpoint($small) {
			padding: 0;
		}
	}

	.title {
		display: block;
		text-align: center;
		background: $background-color-3 url(../img/global/backgrounds/masthead-bkg.jpg) right bottom no-repeat;
		background-size: cover;

		@include breakpoint($small) {
			width: 50%;
			float: right;
		}

		.h1 {
			color: $base-font-color;

			@include breakpoint($small) {
				@include vertical-align;
			}
		}
	}

	img {
		display: none;

		@include breakpoint($small) {
			display: block;
			width: 50%;
			float: left;
		}
	}
}