//
// Global
//___________________________________________________

.button,
input[type="submit"],
.gform_wrapper.gform_wrapper .gform_footer input.button, 
.gform_wrapper.gform_wrapper .gform_footer input[type=submit] {
	@include font-size(18);
	display: inline-block;
	vertical-align: baseline;
	padding: .85em 1.5em;
	border: 0;
	border-radius: $border-radius;
	color: $primary-color;
	background: $button-color;
	text-align: center;
	text-transform: none;
	cursor: pointer;
	transition: $transition-fast;

	&:hover,
	&:focus {
		color: #fff;
		text-decoration: none;
		background: $button-color--hover;
	}


	&.has-media {
		padding: 1em 1.15em;
		text-align: left;

		.button-icon {
	    display: block;
	    float: right;
	    width: 3em;
	    height: 2.5em;
		}

		.flexbox & {
			.button-icon {
				float: none;
			}
		}
	}
}



//
// Locations
//___________________________________________________

.location-list.location-list .button {
	padding: 0.5em 1em;
}
