//
//	Carousels are handled w/ Cycle2
//	http://jquery.malsup.com/cycle2/
//-------------------------------------------------------

.cycle-outer {
	@include clearfix;
	width: 100%;
}

.cycle-wrap {
	position: relative;
	&:hover {
		.cycle-controls a {
			opacity: 0.6;
		}
	}
	&.fixed-width {
		margin: 0 auto;
		width: 85%;
		@include breakpoint($medium) {
			width: auto;
			max-width: 760px;
		}
		@include breakpoint($large) {
			max-width: 940px;
		}
		@include breakpoint($xl) {
			max-width: 1200px;
		}
	}
}

.lte-ie9 .cycle-wrap.fixed-width {
	max-width: 940px;
}

.cycle-controls {
	z-index: 10;
	@include font-size(40);
	a {
		opacity: 0.6;
		@include breakpoint($medium) {
			opacity: 0;
		}
		transition: 1s all;
		color: white;
	}
	.prev,
	.next {
		position: absolute;
		top: 45%;
	}
	.prev {
		left: 1%;
	}
	.next {
		right: 1%;
	}
}

.cycle-slideshow.cycle-slideshow {
	z-index: 0;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0;
		padding: 0;
	}
	img {
		width: 100%;
		margin: 0;
		@include breakpoint($medium) {
			margin: 0;
		}
	}
	.cycle-slide {
		width: 100%;
	}
}

.slide-content {
	padding: 2em;
	@include breakpoint($medium) {
		position: absolute;
		max-width: 300px;
	}
	@include breakpoint($large) {
		max-width: 400px;
	}
	@include breakpoint($xl) {
		max-width: 500px;
	}
	&.top-left {
		@include breakpoint($medium) {
			top: 10%;
			left: 5%;	
		}	
	}
	&.top-right {
		@include breakpoint($medium) {
			top: 10%;
			right: 5%;	
		}	
	}
	&.bottom-left {
		@include breakpoint($medium) {
			bottom: 10%;
			left: 5%;	
		}	
	}
	&.bottom-right {
		@include breakpoint($medium) {
			bottom: 10%;
			right: 5%;	
		}	
	}
}


//
// Owl Carousel
//___________________________________________________

.carousel-wrapper {
	@include clearfix;
	padding: 3.5em 0;
  	width: 100%;
  	float: left;
  	.wrap{
  		width:90%;
  	}
}

.owl-carousel {
	@include clearfix;
	position: relative;
	padding: 0 75px;
}

.owl-stage {
	width: 100%;
}

.owl-nav {
	.owl-next,
	.owl-prev {
		@include image-replace(46px, 36px);
		@include font-size(35);
		position: absolute;
		top: 20%;
		transition: all 0.5s;

		&:hover,
		&:focus {
			opacity: 0.6;
		}
	}

	.owl-next {
		right: 0;
		top: 50%;
		margin-top: -18px;
		background: transparent url(../img/global/icons/icon--arrow-right.png) center no-repeat;
	}

	.owl-prev {
		left: 0;
		top: 50%;
		margin-top: -18px;
		background: transparent url(../img/global/icons/icon--arrow-left.png) center no-repeat;
	}
}//.owl-nav

// .owl-carousel .item {
// 	height: 70px;
// }

// .owl-carousel .item img {
// 	width: auto;
// 	display: block;
// 	margin: 0 auto;
// }

// .owl-carousel .item.no-link img,
// .owl-carousel .item.link a {
// 	@include vertical-align;
// 	display: block;
// }
