.columns {
	margin-bottom: 1em;
	@include clearfix;
	&.one {
		width: 100%;
	}
	&.two,&.three,&.four,&.thirds {
		.column {
			margin-bottom: 1em;
			@include breakpoint($medium) {
				margin-bottom: 0;
				float: left;
			}
		}
	}
	&.two {
		.column-one,
		.column-two {
			@include breakpoint($medium) {
				@include grid(550,1200);
			}
		}
		.column-one {
			@include breakpoint($medium) {
				@include mright(100,1200);	
			}
		}
	}//.two
	&.three {
		.column-one,
		.column-two,
		.column-three {
			@include breakpoint($medium) {
				@include grid(350,1200);	
			}
		}
		.column-one,
		.column-two {
			@include breakpoint($medium) {
				@include mright(75,1200);	
			}
		}
	}//.three
	&.four {
		.column-one,
		.column-two,
		.column-three,
		.column-four {
			@include breakpoint($medium) {
				@include grid(260,1200);	
			}
		}	
		.column-one,
		.column-two,
		.column-three {
			@include breakpoint($medium) {
				@include mright(53,1200);	
			}
		}
	}//.four
	&.thirds {
		.column-one-third {
			@include breakpoint($medium) {
				@include grid(360,1200);
			}
			&.left {
				@include breakpoint($medium) {
					@include mright(30,1200);
				}
			}
			&.right {
				@include breakpoint($medium) {
					@include mleft(30,1200);
				}
			}
		}
		.column-two-thirds {
			@include breakpoint($medium) {
				@include grid(800,1200);
			}
		}
	}
}