
/**
 * Grid
 */

.l-grid-wrap {
  overflow: hidden;
}

.l-grid {
  margin-left: -1em;
  margin-top: -1em;

  @include breakpoint($medium) {
    @supports ( display: flex ) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.l-grid-item {
  display: flex;
  padding-left: 1em;
  padding-top: 1em;
  width: 100%;

  // .l-grid--1-col > & {
  //   @include breakpoint($medium) {
  //     @supports ( display: flex ) {
  //       width: 100%;
  //     }
  //   }
  // }

  .l-grid--2-col > & {
    @include breakpoint($medium) {
      @supports ( display: flex ) {
        width: 50%;
      }
    }
  }

  .l-grid--3-col > & {
    @include breakpoint($medium) {
      @supports ( display: flex ) {
        width: 33.33%;
      }
    }
  }

  .l-grid--4-col > & {
    @include breakpoint($medium) {
      @supports ( display: flex ) {
        width: 25%;
      }
    }
  }
}

