// List of locations (below map)

.location-list.location-list {
	border: 1px solid $secondary-color;
	list-style: none;
	margin: 0;
	li {
		margin: 0;
		display: block;
		cursor: pointer;
		padding: 1em;	
		transition: $transition-fast;
		border: 1px solid $secondary-color;
		background: $primary-color;
		&:last-child {
			border-bottom: 0;
		}
		&:hover {
			background: darken($primary-color, 5%);
		}
		&.active-location {
			background: $quaternary-color;
		}
	}//li
}//.location-list


// stuff on the map

.acf-map {
	span.excerpt {
		display: none;
	}
}