
.main-nav {
	@include clearfix;
	width: 100%;
	background: $background-color-4;

	ul {
		margin: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		vertical-align: baseline;
		position: relative;
		margin: 0;
		margin-right: -5px;
		line-height: 1.2;

		.flexbox & {
			margin-right: 0;
		}
	}

	.wrap > ul {
		position: relative;
		text-align: center;

		@include breakpoint($medium) {
			&:before,
			&:after {
		    position: absolute;
		    top: 50%;
		    margin-top: -11px;
		    height: 22px;
		    width: 2px;
		    background: #6cab81;
		    content: ' ';
			}

			&:before {
		    left: -1px;
			}

			&:after {
		    right: -1px;
			}
		}
		
		> li {
			
			> a {
				margin-left: -1px;
				margin-right: -1px;

				&:hover,
				&:focus {
					color: #fff;
					text-decoration: none;
					background: $border-color-4;
				}
			}

			&.current-menu-parent,
			&.current-menu-item {
				> a {
					color: #fff;
					text-decoration: none;
					background: $border-color-4;
				}
			}

			+ li {
				@include breakpoint($medium) {
					position: relative;
					
					&:before {
				    position: absolute;
				    top: 50%;
				    left: -1px;
				    margin-top: -11px;
				    height: 22px;
				    width: 2px;
				    background: #6cab81;
				    content: ' ';
					}
				}
			}
		}
		
		.flexbox & {
			display: flex;
			
			> li {
				flex: 1;
				// flex-basis: 0;
			}
		}
	}

	a {
		@include font-size(16);
		display: block;
		padding: .95em 1.5em;
		color: #fff;
		text-align: center;
		font-weight: 700;
		transition: color 500ms, background 500ms;

		&:hover,
		&:focus {
			color: #fff;
			text-decoration: none;
		}

		.flexbox & {
			padding: .95em .5em;
		}
	}

	.sub-menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		margin-left: -1px;
		background: darken($background-color-4, 5%);
		min-width: 200px;
		padding: .5em 1em;

		li,
		a {
			display: block;
		}

		a {
			padding: .5em .15em;
			text-align: left;
			transition: opacity 500ms;

			&:hover,
			&:focus {
				opacity: .7;
			}
		}

		li {
			margin-right: 0;

			&.current-menu-item {
				a {
					opacity: .7;
				}
			}
		}
	}

	ul li:hover > .sub-menu {
		display: block;
	}

	ul.sub-menu li:hover > .sub-menu {
		left: 100%;
		top: 0;
	}
}
