
.media-block {
  @include clearfix;

  .media-figure {
    float: left;
    margin-right: 1em;
  }

  .media-body {

  }

  &.is-reverse {
    .media-figure {
      float: right;
      margin-right: 0;
      margin-left: 1em;
    }
  }


  &.media--date {
    h4 {
      margin: 0;
    }
  }


  .flexbox & {
    display: flex;
    align-items: center;

    .media-body {
      flex: 1;
    }

    &.is-reverse {
      flex-direction: row-reverse;
    }

    &.media--date {
      .media-figure {
        flex-basis: 8em;
      }
    }
  }
}

