//
//	Base/global media styles 
//-------------------------------------------------------

// Fluid images and html5 video
img, video {
  max-width: 100%;
  height: auto;
}

// Image Alignment
.entry-content {

	img {
		display: block;
		margin: 2em auto;
	}

	.aligncenter {
		margin: 2em auto;
	}
	
	.alignright {
		position: relative;
		z-index: 10;
		margin-bottom: 2em;

		@include breakpoint($medium) {
			float: right;
			margin: 0 0 2em 2em;
		}

		@include breakpoint($large) {
			margin: 0 0 3em 3em;
		}

		@include breakpoint($xl) {
			margin: 0 0 4.5em 4.5em;
		}
	}

	.alignleft {
		position: relative;
		z-index: 10;
		margin-bottom: 2em;
		
		@include breakpoint($medium) {
			float: left;
			margin: 0 2em 2em 0;
		}
		
		@include breakpoint($large) {
			margin: 0 3em 3em 0;
		}

		@include breakpoint($xl) {
			margin: 0 4.5em 4.5em 0;
		}
	}

	.hero {
		position: relative;
		width: 100%; height: auto;
		margin: 0;
		background-repeat: no-repeat;
  	background-size: cover;

		@include breakpoint($medium) {
			background-attachment: fixed;
			background-position: center center;
		}
		
		.hero-speaks {
			text-align: center;
			padding: 10em 0;
			// @include breakpoint($medium) {
			// 	padding: 10em 0;
			// }
			@include breakpoint($large) {
				padding: 15em 0;
			}
			@include breakpoint($xl) {
				padding: 30em 0;
			}
			@include breakpoint($mega) {
				padding: 40em 0;
			}
			h1 {
				&:after {
					width: 0;
				}
			}
			.inner {
				margin: 0 auto;
				max-width: 800px;
				padding: 5em 0em 9em 0em;
				
			}
		}
	}//.hero
}

// Flexible iFrame
.flexible-container {
	position: relative; 
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}