//
//	The following styles are used to get the menus to
//	function properly. These should not be changed.
//	See further down this file for visual styles.
//-------------------------------------------------------

.mobile-head {
	background: $background-color-4;
}

// Hide desktop navigation
.top-nav, .main-nav {
	display: none;

	@include breakpoint($medium) {
		display: block;
	}
}

// Mobile Header
.mobile-head {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	z-index: 500;
	
	@include breakpoint($medium) {
		display: none;
	}
	
	.icon-menu,
	.icon-location {
		color: $primary-color;
	}
	
	.icon-menu {
		float: left;
	}

	.icon-location {
		float: right;
	}
}

// Reset styles
.mobile-nav ul {
	margin: 0;
	list-style: none;

	li {
		margin: 0;
	}
}

// Toggle effects/animation
#site-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}

#canvas {
	width: 100%;
	height: 100%;
	position: relative;
	transition: all 300ms ease;

	@include breakpoint($medium) {
		transform: none;
	}
}

.show-nav #canvas {
	transform: translateX(300px);
	transform: translate3d(300px, 0, 0);

	@include breakpoint($small) {
		transform: translateX(400px);
		transform: translate3d(400px, 0, 0);
	}
}

.show-contact #canvas {
	transform: translateX(-300px);
	transform: translate3d(-300px, 0, 0);

	@include breakpoint($small) {
		transform: translateX(-400px);
		transform: translate3d(-400px, 0, 0);	
	}
}

#mobile-nav {
	position: absolute;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100%;
	
	@include breakpoint($small) {
		left: -400px;
		width: 400px;
	}
}

#mobile-contact {
	position: absolute;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100%;

	@include breakpoint($small) {
		right: -400px;
		width: 400px;
	}
}

.mobile-nav a {
	display: block;
}

//
//	Styles - Begin Editing Here
//-------------------------------------------------------

.mobile-head {
	padding: 1em;
}

.mobile-nav ul {
	
	a {
		padding: 0.75em;
	}

	.sub-menu {
		display: none;
		padding: 1em;

		li {
			+ li {
				margin-top: .25em;
			}
		}

		a {
			padding: .25em 1em;
		}
	}
}

.mobile-nav,
.mobile-contact {
	background: $background-color-4;

	p,
	h3,
	a {
		color: $primary-color;
	}
}


.mobile-nav li {
	position: relative;
	border-bottom: 2px solid $border-color-4;

	.mobile-child-toggle {
		position: absolute;
		top: 0;
		right: 0;
	}

	.sub-menu li {
		border: 0;
	}
}

.mobile-contact {
	padding: 3em;
}


.mobile-child-toggle {
	width: 3em;
	text-align: center;
  transition: opacity 500ms;

	&:hover,
	&:focus {
		opacity: .65;
	}

	.toggle-arrow {
    display: inline-block;
    vertical-align: baseline;
		width: 0; 
		height: 0; 
		border-left: .45em solid transparent;
    border-right: .45em solid transparent;
    border-top: .65em solid #fff;
	}
	
	&.is-open {
		.toggle-arrow {
			border-left: .45em solid transparent;
	    border-right: .45em solid transparent;
	    border-bottom: .65em solid #fff;
	    border-top: 0 none;
		}
	}

	&.is-closed {
		.toggle-arrow {
			border-left: .45em solid transparent;
	    border-right: .45em solid transparent;
	    border-top: .65em solid #fff;
		}
	}
}

