.parallax {
	color: $primary-color;
	padding: 3.5em 0;
	position: relative;
	@include breakpoint($medium) {
		background-attachment: fixed;
		background-position: center center;
	}
  	background-size: cover;
	@include breakpoint($medium) {
		padding: 6em 0;
	}
	@include breakpoint($large) {
		padding: 12em 0;
	}
	@include breakpoint($xl) {
		padding: 16em 0;
	}
	h4 {
		color: $primary-color;
	}
	&.ie8plax {
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center center;
		background-color: #F6F6F6;
		background-color: rgba(238,238,238,0.5);
	}
	.button {
		display: block;
		margin: 0 auto;
		width: 20%;
		text-align: center;
	}
}

.overlay-wrap {
	position: relative;
	.wrap {
		position: relative;
		z-index: 20;
	}
}
.overlay {
	z-index: 10;
	position: absolute;
	width: 100%; height: 100%;
	background-size: cover;
	background: url(../img/global/overlay.png) repeat;
}