
.search-form {
  position: relative;
  max-width: 35em;

  label {
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
  }

  .search-field {
    padding-right: 2em;
    width: 100%;
  }

  .search-submit {
    @include font-size(16);
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em;
    border: 0 none;
    color: $base-font-color;
    line-height: 1;
    background: transparent;
    cursor: pointer;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: darken($base-font-color, 15%);
    }
  }
}
