.split.innerpage {
	overflow: hidden;
	background: $secondary-color;
	color: $primary-color;
	h1,p {
		color: $primary-color;
	}
	h1 {
		&:after {
			background: none;
			content: "";
		}
	}
	.content,
	.image {
		@include breakpoint($medium) {
			width: 50%;
			float: left;
		}
	}
	.content .inner {
		padding: 5em 5em 5em 0;
		@include breakpoint($medium) {
			padding: 2em 2em 2em 0;
		}
		@include breakpoint($large) {
			padding: 3em 3em 3em 0;
		}
		@include breakpoint($xl) {
			padding: 7em 7em 7em 0;
		}
	}
	.image {
		padding-bottom: 5em;
		@include breakpoint($medium) {
			padding-bottom: 0;
		}
	}
	.image img {
		margin: 0;
	}
	
}