.top-nav {
	display: none;

	ul {
		margin: 0;
		list-style: none;
		text-align: right;
	}

	li {
		display: inline-block;
		vertical-align: baseline;
		position: relative;
		margin: 0;
		line-height: 1.2;
	}

	> ul > li {
		
		&.top-nav-search {
			border-left: 0 none;
		}

		+ li {
			margin-left: 1em;
			padding-left: 1em;
			border-left: 1px solid $border-color-3;
		}
	}

	a {
		text-decoration: none;
		color: $base-font-color;
		transition: $transition-fast;

		&:hover,
		&:focus {
			color: darken($base-font-color, 15%);
		}
	}

	li.current_page_item a,
	li.current_page_parent a {
		color: lighten($secondary-color, 33%);
	}

	.sub-menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		padding: .5em;
		min-width: 200px;
		z-index: 100;
		list-style: none;

		@include breakpoint($large) {
			min-width: 250px;
		}

		a {
			padding: .5em .65em;
		}

		li {
			text-align: left;
			margin-left: 0;
			background: $background-color-3;
		}

		li,
		a {
			display: block;
		}
	}

	li:last-child .sub-menu {
		right: 0;
	}

	ul li:hover > .sub-menu {
		display: block;
	}

	ul.sub-menu li:hover > .sub-menu {
		left: 100%;
		top: 0;
	}

	.top-nav-search {
		form {
			max-width: 217px;
		}
	}
}
