//
//	Breakpoint
//	http://breakpoint-sass.com
//-------------------------------------------------------

@include breakpoint-set('to ems', true);
@include breakpoint-set('no query fallbacks', false);
@include breakpoint-set('default media', screen);

$xsmall:	320px;
$small:		480px;
$medium:	760px, 'no-query' '.lt-ie9';
$large:		960px, 'no-query' '.lt-ie9';
$xl:		1200px;
$mega:		1600px;
