
%color-reverse {
  color: #fff;

  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: inherit;
    }
  }

  .button {
    color: inherit;
    text-decoration: none;
  }
}

//
// Global
//___________________________________________________

.bg-gray {
	background: $quaternary-color;
}

.color-option-1 {
	background: #fff;
}

.color-option-2 {
  @extend %color-reverse;
	background: $background-color-1;

  .button {
    background: $border-color-1;

    &:hover,
    &:focus {
      background: darken($border-color-1, 15%);
    }
  }
}

.color-option-3 {
  @extend %color-reverse;
	background: $background-color-2;

  // .button {
  //   background: $border-color-2;

  //   &:hover,
  //   &:focus {
  //     background: $border-color-2;
  //   }
  // }
}

.color-option-4 {
	background: $background-color-3;
}

.color-option-5 {
  @extend %color-reverse;
	background: $background-color-4;

  .button {
    background: $border-color-4;

    &:hover,
    &:focus {
      background: darken($border-color-4, 15%);
    }
  }
}