//
//	All type styles for the size should be here
//-------------------------------------------------------


//
// Extends
//___________________________________________________

%font-light {
	font-weight: 300;
}

%font-medium {
	font-weight: 500;
}

%font-semibold {
	font-weight: 600;
}

%font-bold {
	font-weight: 700;
}

//
// Base
//___________________________________________________

html {
	font-size: 62.5%;
	font-family: $base-font-family;
	font-weight: 400;
}

body {
	color: $base-font-color;
	background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;

	a {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $link-color--hover;
			text-decoration: none;
		}
	}
}


p,
li,
td {
	@include font-size(14);
	color: $base-font-color;
	line-height: 175%;

	@include breakpoint($medium) {
		@include font-size(16);
	}

	@include breakpoint($large) {
		@include font-size(17);
	}
}

strong,b {
	font-weight: bold;
}

em,i {
	font-style: italic;
}
i.fa {
	font-style: normal;
}

a:hover {
	text-decoration: none;
}

p,
table {
	margin-bottom: 1em;
}

ul,
ol {
	margin-bottom: 1em;
}

ul {
	list-style: square;
	margin-left: 30px;

	@include breakpoint($medium) {
		margin-left: 60px;
	}
}

ol {
	list-style: decimal;
	margin-left: 30px;

	@include breakpoint($medium) {
		margin-left: 60px;
	}
}

li {
	margin-bottom: 0.25em;
}

hr {
	margin: 3em 0;
	border: 0 none;
	height: 2px;
	background: $border-color-3;

	@include breakpoint($medium) {
		margin: 5em 0;
	}
}


h1 {
	@include font-size(38);
	position: relative;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	color: $heading-color-1;
	font-weight: 500;
	line-height: 1.2;

	@include breakpoint($medium) {
		@include font-size(48);
	}

	&:after {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: $heading-rule-color;
		content: "";
	
		@include breakpoint($medium) {
			width: 100%;
		}
	}
}

h2 {
	@include font-size(28);
	margin-bottom: 0.5em;
	color: $heading-color-2;
	font-weight: 500;
	line-height: 1.2;

	@include breakpoint($medium) {
		@include font-size(26);
	}
}

h3 {
	@include font-size(24);
	margin-bottom: 0.5em;
	color: $heading-color-3;
	font-weight: 500;
	line-height: 1.2;
}

h4 {
	@include font-size(18);
	margin-bottom: 1em;
	color: $heading-color-1;
	font-weight: 700;
	line-height: 1.2;
}

h5 {
	@include font-size(24);
	margin-bottom: 1em;
	color: $base-font-color;
	font-weight: 400;
	line-height: 1.6;
}

h6 {
	@include font-size(21);
	margin-bottom: 2em;
	color: $base-font-color;
	font-weight: 400;
	line-height: 1.6;
}


p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6 {
	margin-top: 1em;
}


blockquote {
  margin: 2em 0;
	padding: 3em 4em;
	background: $background-color-3 url(../img/global/backgrounds/blockquote-bkg.png) 2em 1.5em no-repeat;
	border-radius: $border-radius;

	p {
		@include font-size(24);
		margin-bottom: 0;
		line-height: 1.4;
		font-style: italic;

		+ p {
			margin-top: 1em;
		}
	}

	cite,
	.author {
		@include font-size(18);
		display: block;
		margin-top: 1em;
		font-style: normal;
		font-weight: 700;
	}
}

small {
	font-size: 85%;
}

input[type="search"] {
	@include font-size(16);
	appearance: none;
	display: inline-block;
	vertical-align: baseline;
	padding: .5em;
	border: 2px solid $background-color-3;
	border-radius: $border-radius;
	color: $base-font-color;
	font-family: inherit;
	font-weight: inherit;
	background: $background-color-3;
	transition: border-color 250ms;

	&::-webkit-input-placeholder {
	  color: lighten($base-font-color, 15%);
	}

	&:-moz-placeholder {
	  color: lighten($base-font-color, 15%);
	}

	&::-moz-placeholder {
	  color: lighten($base-font-color, 15%);
	}

	&:-ms-input-placeholder {
	  color: lighten($base-font-color, 15%);
	}

	&:focus {
		border-color: darken($background-color-3, 15%);
		outline: 0 none;
	}
}


.button,
input[type="submit"],
.gform_wrapper.gform_wrapper .gform_footer input.button, 
.gform_wrapper.gform_wrapper .gform_footer input[type=submit] {
	@include font-size(16);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

.gform_wrapper.gform_wrapper textarea,
.gform_wrapper.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	@include font-size(16);
	appearance: none;
	display: inline-block;
	vertical-align: baseline;
	padding: .5em;
	border: 2px solid $background-color-3;
	border-radius: $border-radius;
	color: $base-font-color;
	font-family: inherit;
	font-weight: inherit;
	background: $background-color-3;
	transition: border-color 250ms;

	&::-webkit-input-placeholder {
	  color: lighten($base-font-color, 15%);
	}

	&:-moz-placeholder {
	  color: lighten($base-font-color, 15%);
	}

	&::-moz-placeholder {
	  color: lighten($base-font-color, 15%);
	}

	&:-ms-input-placeholder {
	  color: lighten($base-font-color, 15%);
	}

	&:focus {
		border-color: darken($background-color-3, 15%);
		outline: 0 none;
	}
}


p.author {
	color: lighten($secondary-color, 40%);
}


a {
	color: $link-color;
	text-decoration: none;
	transition: color 500ms;
	
	&:hover,
	&:focus {
		color: $link-color--hover;
		text-decoration: underline;
	}
}

	


//
// Header
//___________________________________________________

h1.site-title {
	margin: 0;
	padding: 0;
	font-size: inherit;

	&:after {
		display: none;
	}
}

.top-nav li {
	@include font-size(13);
	font-weight: 700;
	text-transform: uppercase;
	
	@include breakpoint($large) {
		@include font-size(14);
	}

	.sub-menu {
		@include font-size(13);
		text-transform: none;
	}
}

.banner {
	.h1 {
		@include font-size(25);
		font-weight: 500;

		@include breakpoint($medium) {
			@include font-size(30);
		}

		@include breakpoint($large) {
			@include font-size(36);
		}
	}

	&.split {
		.h1 {
			@include breakpoint($small) {
				line-height: 0;
			}
		}
	}
}


//
// Footer
//___________________________________________________

.site-footer {
	color: #fff;

	.address {
		font-weight: 500;

		h3 {
			@include font-size(16);
			font-weight: 700;
			margin-bottom: 0;
			color: #fff;
			text-transform: none;
		}

		p {
			@include font-size(16);
			color: #fff;
			line-height: 1.4;
			font-weight: 400;
		}

		a[href^="tel"] {
			color: #fff;
			text-decoration: none;
			cursor: default;
		}

		.email {
			text-decoration: underline;

			&:hover {
				// text-decoration: none;
			}
		}
	}//.address

	.footer-nav li {
		@include font-size(16);
		margin-bottom: 0.25em;
	}
	
	.footer-nav a {
		color: #fff;
		font-weight: 500;
	}

	.footer-branding {
		p {
			@include font-size(12);
			margin: 1.5em 0;
			color: #c3b9b2;
			line-height: 1.4;
		}
	}

	.site-info {
		@include font-size(14);

		p {
			@include font-size(12);
			margin-bottom: 0;
			color: #c3b9b2;
			line-height: 1.4;
		}

		.copyright {
			// margin-bottom: 1em;

			@include breakpoint($medium) {
				margin-bottom: 0;
			}
		}

		a {
			color: #c3b9b2;
			text-decoration: none;
			transition: color 500ms;
			transition: $transition;
			border-bottom: 1px solid #c3b9b2;

			&:hover,
			&:active {
				color: #c3b9b2;
			}
		}
	}
}//.site-footer


//
// Mobile Nav
//___________________________________________________

.icon-menu,
.icon-location {
	@include font-size(30);
}

.mobile-nav ul li {
	@include font-size(16);
	margin: 0;
	font-weight: 700;

	a {
		text-decoration: none;
	}

	.sub-menu {
		background: #6cab81;
	}

	.sub-menu li {
		line-height: 1.2;
		text-transform: none;
	}
}


//
// Mobile Contact
//___________________________________________________

.mobile-contact {

	h3 {
		@include font-size(22);
	}

	p {
		@include font-size(16);
	}

	a.tel {
		text-decoration: none;
	}
}


//
// Homepage
//___________________________________________________


.hero {
	h1 {
		@include font-size(30);
		line-height: 120%;
		margin-bottom: 0.25em;

		@include breakpoint($medium) {
			@include font-size(36);
		}
	}

	h6 {
		@include font-size(15);
		margin-bottom: 1em;
		line-height: 130%;

		@include breakpoint($medium) {
			@include font-size(20);
		}

		@include breakpoint($large) {
			@include font-size(24);
		}
	}
	
	.button {
		// line-height: 120%;
		// @include font-size(12);
		// @include breakpoint($small) {
		// 	@include font-size(13);
		// }
		// @include breakpoint($medium) {
		// 	@include font-size(15);
		// }
		// // @include breakpoint($large) {
		// // 	@include font-size(15);	
		// // }
		// @include breakpoint($xl) {
		// 	@include font-size(20);
		// }
	}
}//.hero



/**
 * Main Content
 */

.entry-content {

	ul {
		list-style: none;

		li {
			position: relative;
			z-index: 1;
			
			&:before {
				position: absolute;
				z-index: 2;
		    left: -1em;
		    top: .75em;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: $icon-color;
				content: '';
			}
		}
	}
}

.content-callout {
	margin: 1em 0;
  padding: 2.5em 2.5em;
  border-radius: $border-radius;
	background: $background-color-3;

	p {
		margin-bottom: 0;

		+ p {
			margin-top: 1em;
		}
	}
}

figure {

	img {
		margin: 0 !important;
	}

	&.wp-caption {

	}

	.wp-caption-text {
		@include font-size(13);
		padding: 1em;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		line-height: 1.4;
		background: $background-color-3;
	}
}



//
// Sidebar
//___________________________________________________

.sidebar {

	.widget h4,
	h1.widget-title {
		@include font-size(25);
		margin-bottom: 0.5em;

		@include breakpoint($medium) {
			@include font-size(30);
		}
	}

	.widget li {
		@include font-size(16);
	}

}//.sidebar


//
// Blog 
//___________________________________________________

.entry-header {
	@include font-size(14);
	.entry-title a {
		text-decoration: none;
	}
}

.entry-footer {
	span {
		@include font-size(15);
		a:hover {
			text-decoration: none;
		}
	}

	.sharing {
		@include font-size(15);
	}

	.cat-links,
	.tags-links {
		margin-bottom: 1em;
	}

	.comments-link,
	.edit-link {
		text-transform: uppercase;
		text-align: center;
		display: block;
		a {
			text-decoration: none;
		}
	}
}

.sidebar .tags.widget {
	a {
		text-decoration: none;
	}
	h4 {
		margin-bottom: 1em;
	}
	li {
		@include font-size(12);
	}
}

.nav-links {
	@include font-size(15);

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
	
	.nav-previous a:before {
		content: "« ";
	}
	
	.nav-next a:after {
		content: " »";
	}
}

#respond input[type=text], 
#respond input[type=email], 
#respond input[type=url], 
#respond textarea {
	@include font-size(14);
}

.form-allowed-tags.form-allowed-tags {
	@include font-size(13);
}


//
// Modules
//___________________________________________________

.parallax h4 {
	text-align: center;
	@include font-size(25);
	line-height: 155%;
	margin-bottom: 1em;
	@include breakpoint($medium) {
		@include font-size(30);
		margin-bottom: 1em;
	}
	@include breakpoint($large) {
		@include font-size(38);
	}
}

.hero .hero-speaks {
	h1 {
		padding-bottom: 0;
		@include breakpoint($xl) {
			@include font-size(75);
		}
	}
	h3 {
		margin-bottom: 1.5em;
		@include font-size(20);
		@include breakpoint($large) {
			@include font-size(30);
		}
		@include breakpoint($xl) {
			@include font-size(40);
		}
	}
}

.split.innerpage {

	h1 {
		@include font-size(26);
		padding-bottom: 0;

		@include breakpoint($medium) {
			@include font-size(32);
		}

		@include breakpoint($large) {
			@include font-size(42);
		}

		@include breakpoint($xl) {
			@include font-size(52);
		}
	}

	p {
		@include font-size(14);
		line-height: 180%;
		margin-bottom: 0;

		@include breakpoint($medium) {
			@include font-size(16);
		}

		@include breakpoint($large) {
			@include font-size(18);
		}

		@include breakpoint($xl) {
			@include font-size(21);
		}
	}
}

.blog-posts.blog-posts {

	h2 {
		@include font-size(28);
		margin-bottom: 1.25em;
	}

	.post-date {
		@include font-size(18);
		display: block;
		margin-bottom: 1em;
		font-weight: 700;
	}

	h1 {
		@include font-size(30);
		margin-bottom: 0.5em;
	}

	p {
		@include font-size(16);
		line-height: 120%;
	}

	a {
		text-decoration: none;
	}
}

.location-list.location-list .button {
	@include font-size(14);
}
