//
//
// 		MASTER VARIABLES!!!!1
//
//___________________________________________________


//
// Typography
//___________________________________________________

$base-font-family: 'Ubuntu', sans-serif;
$heading-font-family: 'Ubuntu', sans-serif;



//
// Colors
//___________________________________________________

// Brand Colors

$brand-color--green: #7fc496;
$brand-color--dark-green: #6cab81;
$brand-color--blue: #67bbc5;
$brand-color--dark-blue: #4a929a;
$brand-color--gold: #c7ba8d;

$brand-color--light-brown: #f4f1e8;
$brand-color--dark-brown: #86786f;


// Base

$primary-color: #fff;
$secondary-color: #333;
$tertiary-color: #555;
$quaternary-color: #666;

$primary-color-opaque: rgba(255,255,255, 0.8);
$red-dark: #b20000;


// Typography

$base-font-color: $brand-color--dark-brown;

$heading-color-1: $brand-color--green;
$heading-color-2: $brand-color--blue;
$heading-color-3: $brand-color--gold;

$heading-rule-color: $brand-color--gold;

$link-color: $brand-color--blue;
$link-color--hover: darken($link-color, 15%);

$icon-color: $brand-color--gold;
$icon-color--hover: darken($icon-color, 15%);

$button-color: $brand-color--gold;
$button-color--hover: darken($brand-color--gold, 15%);


// Blocks

$background-color-1: $brand-color--blue;
$background-color-2: $brand-color--dark-brown;
$background-color-3: $brand-color--light-brown;
$background-color-4: $brand-color--green;

$border-color-1: $brand-color--dark-blue;
$border-color-2: #fff;
$border-color-3: $brand-color--gold;
$border-color-4: $brand-color--dark-green;



//
// Layout
//___________________________________________________

$padding: 1em;
$padding-medium: 2em;
$padding-large: 3.5em;
$padding-xl: 4.5em;

$vertical-padding: 2em 0;
$vertical-padding-medium: 4em 0;
$vertical-padding-large: 6em 0;
$vertical-padding-xl: 9.5em 0;

$horizontal-padding: 0 2em;
$horizontal-padding-medium: 0 4em;
$horizontal-padding-large: 0 6em;



//
// Design/Animation
//___________________________________________________


// default border radius
$border-radius: 5px;		


// transitions
$transition: all, 1s;
$transition-fast: all, 0.5s;
$transition-faster: all, 0.25s;
$transition-slow: all, 2s;
$transition-slower: all, 2.5s;
